.items {
  min-height: calc(100vh - 58.5px);
}

.items header {
  height: 182px;
  background: url('../../assets/geometric-map.jpg') no-repeat center bottom/100%;
}

.items > main > section {
  padding: 30px 100px 50px;
}

.heading {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.heading::after {
  content: "";
  display: block;
  margin-top: 25px;
  width: 5%;
  border: 1px solid #000;
}

@media screen and (max-width: 540px) {
  .items header {
    height: 80px;
  }

  .items > main > section {
    padding: 20px 10px;
  }

  .heading {
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .heading::after {
    margin-top: 15px;
  }
}

@media screen and (max-width: 320px) {
  .items > main > section {
    padding: 20px 5px;
  }
}
