.offerlist {
  display: grid;
  padding: 0 60px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 25px;
}

.wantedlist {
  padding: 0 60px;
}

@media screen and (max-width: 425px) {
  .offerlist,
  .wantedlist {
    padding: 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .offerlist,
  .wantedlist {
    padding: 0 5px;
  }
}
