.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 680px;
  font-size: 40px;
  font-weight: 900;
  background: url('../../assets/geometric-map.jpg') no-repeat center/100%;
  opacity: 0.9;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 544px;
  }
}

.header h1 {
  line-height: 1.25;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 768px) {
  .header {
    height: 408px;
  }

  .header h1 {
    font-size: 25px;
  }
}

.main section {
  padding: 30px 100px 50px;
}

.main section:last-child {
  background: rgba(220, 220, 212, 0.8);
}

.main h2 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.main h2::after {
  content: "";
  display: block;
  margin-top: 25px;
  width: 5%;
  border: 1px solid #000;
}

.more {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

@media screen and (max-width: 540px) {
  .header {
    height: 239px;
  }

  .header h1 {
    padding-top: 25px;
    font-size: 18px;
  }

  .main section {
    padding: 20px 10px 25px;
  }

  .main h2 {
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .main h2::after {
    margin-top: 15px;
  }

  .more {
    padding-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 35vh;
  }

  .header h1 {
    font-size: 15px;
  }

  .main section {
    padding: 20px 5px 25px;
  }
}

.more a {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background: #86be4b;
  color: #fff;
}
