.filter {
  display: block;
  margin-bottom: 10px;
  padding-right: 60px;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .filter {
    padding-right: 10px;
  }
}

.filter,
.filter select,
.filter option {
  opacity: 0.8;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.filter select {
  margin-left: 5px;
}
